{% set navPages = collections.all | eleventyNavigation %}
<div class="nav">
    <a href="/"><img width="100" height="30" src="/svg/logo.svg"/> </a>
    <ul class="menu">
        {%- for entry in navPages %}
            <li class="menu__item">
                <a class="menu__item--link" href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
        {%- endfor %}
    </ul>
</div>