:root {
  --primary-color: #ffe066;
  --secondary-color: #50514f;
  --text-color: #3a3a51;
  --link-color: #339;

  /* Space */
  --space-xs: 0.25em;
  --space-sm: 0.5em;
  --space-md: 1em;
  --space-lg: 2em;
  --space-xl: 4em;
  --space-xxl: 8em;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  max-width: 80ch;
  padding: var(--space-lg) var(--space-xl);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--secondary-color);
  position: relative;
}

h1 {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-align: center;
  padding: var(--space-md) 0;
  margin: var(--space-lg) -2em;
  font-size: 1.5em;
  text-decoration: underline;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
    margin: 0 -100% var(--space-lg) -100%;
  }
}

h2 {
  margin-top: var(--space-xl);
  position: relative;
}

h2:after {
  content: '';
  position: absolute;
  background-color: var(--primary-color);
  transform: skewX(-20deg);
  left: -1em;
  height: 1.25em;
  width: 0.35em;
}

h3 {
  margin-top: var(--space-lg);
}

a.header-anchor:before {
  content: '#';
  color: var(--secondary-color);
  position: absolute;
  right: 0;
}

a.header-anchor:focus:before {
  outline: 1px solid var(--secondary-color);
}

a.header-anchor:hover:before {
  border-bottom: 1px solid var(--secondary-color);
}

pre {
  overflow-x: auto;
}

@media screen and (min-width: 768px) {
  pre {
    overflow-x: initial;
  }
}
