.nav {
  width: 100%;
  display: none;
  height: 33px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-xl);
}

.logo {
  position: relative;
  z-index: 3;
}

.nav--mobile {
  display: flex;
  align-items: flex-start;
}

#expand-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
  .nav--mobile {
    display: none;
  }
}

.nav__open-button {
  border: 0;
  background-color: transparent;
}

.nav > ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav > ul > li {
  display: inline-block;
  margin: 0 var(--space-sm);
}

.nav > ul > li > a {
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 100%;
  min-height: 100vh;
  width: 100%;
  transition: 0.2s all;
  background-color: white;
  display: flex;
  align-items: center;
}

#expand-nav:checked ~ .menu {
  transform: translateX(-100%);
}

.menu__close-button {
  position: absolute;
  top: var(--space-lg);
  right: var(--space-xl);
}

.menu__content {
  width: 100%;
  padding: var(--space-lg);
  margin: var(--space-xl) 0;
  display: flex;
  flex-direction: column;
  transform: translateX(30%);
}

.menu__content a {
  font-weight: bold;
  color: var(--secondary-color);
  margin: var(--space-md) 0;
}
